<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Products</h1>
<form>
    Search by product name:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form>
<br/>
<div>
    <a href="/create-product">Create new product</a>
</div>

<table border="1">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Category</th>
        <th></th>
    </tr>
    <th:block th:each="product, iStat: ${products}">
        <tr>
            <td th:text="${iStat.count}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.productCategory.name}"></td>
            <td><a th:href="@{/edit-product/__${product.id}__ }">Edit</a> || <a
                    th:href="@{/delete-product/__${product.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>